<!-- Toolbar -->

<mat-toolbar>
  <mat-toolbar-row>
    <span>Monitor USD/CLP Spot</span>
  </mat-toolbar-row>
</mat-toolbar>
    <hr>
    <mat-card>
      <mat-card-title>USDCLP - SPOT</mat-card-title>
      <mat-card-content>
        <div>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <span class="margen20px">BID: <strong>{{bid | number: '1.0-3'}}</strong></span>
                <span class="margen20px">ASK: <strong>{{ask | number: '1.0-3'}}</strong></span>
                <span class="margen20px">Spread: <strong>{{spread | number: '1.0-3'}}</strong></span>
                <span class="margen20px">XRATE: <strong>{{xrate | number: '1.0-3'}}</strong></span><br>
                <span class="margen20px">MARKET STATE: <span class="blink"><strong> -- {{marketState}} -- </strong></span></span>
              </div>
              <div class="col-md-6">
                <marquee>Indicadores Econoimicos: UF: <strong>{{uf}}</strong> | UTM: <strong>{{utm}}</strong> | IPC: <strong>{{ipc}}</strong> </marquee>

              </div>
            </div>
          </div>
        </div>
        <span style="margin-left:20px">status <span>{{status}}</span></span>
      </mat-card-content>
    </mat-card> <br>
      <H1>USDCLP X-RATE Chart</H1>
      <DIV class="container-fluid">
          <div class="row">
            <div class="col-md-3">
                  <label for="rangeSelector">Rango</label><br>
                  <mat-button-toggle-group name="range" [(ngModel)]="range" id="rangeSelector">
                    <mat-button-toggle value="1d">1d</mat-button-toggle>
                    <mat-button-toggle value="5d">5d</mat-button-toggle>
                    <mat-button-toggle value="1mo">1mo</mat-button-toggle>
                    <mat-button-toggle value="3mo">3mo</mat-button-toggle>
                    <mat-button-toggle value="6mo">6mo</mat-button-toggle>
                    <mat-button-toggle value="1y">1y</mat-button-toggle>
                    <mat-button-toggle value="5y">5y</mat-button-toggle>
                    <mat-button-toggle value="10y">10y</mat-button-toggle>
                    <mat-button-toggle value="ytd">ytd</mat-button-toggle>
                    <mat-button-toggle value="max">max</mat-button-toggle>
                  </mat-button-toggle-group>
     
            </div>
            <div class="col-md-3"> 
                  <label for="">Intervalo</label><br>
                    <mat-button-toggle-group name="interval" id="intervalSelector" [(ngModel)]="interval">
                      <mat-button-toggle value="1m">1m</mat-button-toggle>
                      <mat-button-toggle value="5m">5m</mat-button-toggle>
                      <mat-button-toggle value="15m">15m</mat-button-toggle>
                      <mat-button-toggle value="1d">1d</mat-button-toggle>
                      <mat-button-toggle value="1wk">1wk</mat-button-toggle>
                      <mat-button-toggle value="1mo">1mo</mat-button-toggle>
                    </mat-button-toggle-group>
            </div>
            <div class="col-md-3">  
                  <label for="recargar">Recarga</label> <br>

                <button kendoButton id="recargar"
                  [size]="size"
                  [rounded]="rounded"
                  [fillMode]="fillMode"              
                  [themeColor]="themeColor"
                (click)="onButtonClick()">Recargar</button>
 
            </div>
            <div class="col-md-3">
 
                Recargar automaticamente: <mat-checkbox [(ngModel)]="recargaAuto" (change)="onChangeDemo($event)"></mat-checkbox><br>
                Chart Previous Close: {{previousClose | number: '1.0-3'}}
                <br>
                <br>
                <span>Status: <span>{{chartStatus}}</span></span>
            
            </div>
          </div>
        </DIV>
 <div class="container-fluid">
    <div class="col-md-12">
       <kendo-chart [categoryAxis]="{labels: {rotation:rotation}}">
        <kendo-chart-title text="USDCLP"></kendo-chart-title>         
        <kendo-chart-series >
          <kendo-chart-series-item
            type="candlestick"
            [style]="style"
            [data]="cModel"
            [color]="'#5CB85C'"
            [downColor]="'#D9534F'"
            openField="open"
            closeField="close" 
            lowField="low"
            highField="high"
            categoryField="timestamp"
            [markers]="{ visible: true }">
          </kendo-chart-series-item>
        </kendo-chart-series>
        <kendo-chart-tooltip>
          <ng-template kendoChartSeriesTooltipTemplate let-value="value">
            High : {{ value.high | number: '1.0-3' }}<br />
            Low : {{ value.low | number: '1.0-3'}} <br>
            <hr>
            Open : {{ value.open | number: '1.0-3' }}<br />
            Close  : {{ value.close | number: '1.0-3'}} <br>
          </ng-template>
        </kendo-chart-tooltip>
      </kendo-chart>     
    </div>
 </div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <kendo-grid [data]="cModelR">
          |<kendo-grid-column field="timestamp" title="Hora"     ></kendo-grid-column>
          <kendo-grid-column field="low" title="low" format="{0:c}"></kendo-grid-column>
          <kendo-grid-column field="high" title="high" format="{0:c}"></kendo-grid-column>
          <kendo-grid-column field="open" title="open" format="{0:c}"></kendo-grid-column>
          <kendo-grid-column field="close" title="close" format="{0:c}"></kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
</div>
 


   





  <router-outlet>
  </router-outlet>
  <!-- Footer -->
  <footer>
</footer>
