/* la hoja */
.divAgrupable {
    display: flex;
}

.elementoAgrupado {
    flex: 1 1 auto;
}

.margen20px{
    margin-left:20px
}


.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }